---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "@/lib/data"
import MusicsTable from '../../components/MusicsTable.astro'
import { CardPlayButton } from "@/components/CardPlayButton";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter((song) => song.albumId === playlist?.albumId)

---

<Layout title="Welcome to Astro.">
  <div
    id="playlist-container"
    class="relative flex flex-col h-full transition-all duration-1000 bg-zinc-900 overflow-x-hidden "
    transition:name=`playlist ${id} box`
    >
    <!-- Page Header -->

    <header class="flex gap-8 px-6 mt-12">
        <picture class="flex-none aspect-square h-52 w-52 h-auto">
            <img
              src={playlist?.cover}
              alt={`cover of ${playlist?.title}`}
              class="object-cover w-full h-full shadow-lg"
              transition:name=`playlist ${playlist?.id} image`
            />
          </picture>
          
          <div class="flex flex-col justify-end">
            <h2 class="flex flex-1 items-end text-xs">Playlist</h2>
            <div>
                <h1 class="font-bold block text-5xl text-white">
                    {playlist?.title}
                    <span transition:name=`playlist ${playlist?.id} title`></span>
                </h1>
            </div>

            <div class="flex-1 flex items-end">
                <div class="text-sm text-gray-300 font-normal">
                    <div transition:name=`playlist ${id} artists`>
                        <span>{playlist?.artists.join(", ")}</span>
                    </div>
                    <p class="mt-1">
                        <span class="text-white">50 canciones </span>
                    </p>
                </div>
            </div>
          </div>
    
    </header>
    <div class="pl-6 pt-6">
      <CardPlayButton id={id} size={"large"} client:load/>

    </div>
    
    <!-- <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
    >
    </div> -->
    <section class="p-6">
      <MusicsTable songs={playListSongs} />
    </section>
  </div>
</Layout>

<style></style>
