---
import type { Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
console.log("playlist item card, 1", playlist)
const { id, cover, title, artists, color } = playlist;
const artistsString = artists.join(", ");
---

<article class="group relative hover:bg-zinc-500 hover:shadow-xl bg-zinc-500/30 rounded-md transition-all duration-300">
    <div class="absolute z-20 right-4 bottom-20 translate-y-3 transition-all duration-500 opacity-0 group-hover:translate-y-0 group-hover:opacity-100" >
        <CardPlayButton id={id} client:visible/>
      </div>
  <a
    href={`/playlist/${id}`}
    class="playlist-item flex flex-col relative p-2 overflow-hidden p-2 pb-4 gap-3 rounded-md  transition-all duration-100
  w-44"
    transition:name=`playlist ${id} box`
  >
    <picture class="relative flex-none aspect-square w-full h-auto">
      <img
        src={cover}
        alt={`cover of ${title} by ${artistsString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
      
    </picture>
    <div class="flex flex-auto flex-col px-2">
      <h4
        transition:name=`playlist ${playlist?.id} title`
        class="text-white text-sm"
      >
        {title}
      </h4>
      <span
        transition:name=`playlist ${id} artists`
        class="text-xs text-gray-400">{artistsString}</span
      >
    </div></a
  >
</article>
